:root{
    --clr-light: #e2e8f0;
    --clr-dark: #050914;
    --clr-slate400: #94a3b8;
    --clr-slate600: #475569;
    --clr-slate800: #1e293b;
    --clr-rose: #e11d48;
    /* Rose color rgb(225, 29, 72) */
    --clr-indigo: #4f46e5;

    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;

}
*{
    margin: 0;
    box-sizing: border-box;
    line-height: calc(1em + 0.5rem);
}

.light-mode{
    --clr-light: #050914;
    --clr-dark: #e2e8f0;
    --clr-slate400: #1e293b;
    --clr-slate600: #1e293b;
    --clr-slate800: #1e293b;
}

html{
    scroll-behavior: smooth;

}
/* width */
::-webkit-scrollbar {
    width: 18px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--clr-light); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--clr-rose); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(239, 75, 111, 0.998); 
  }
body{
    font-family: 'General Sans', sans-serif;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    margin: 0;
}
image,picture,video,svg, img{
    display: block;
    max-width: 100%;
    user-select: none;
}
button{
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}
a {
    color: var(--clr-rose);
}
strong{
    color: var(--clr-indigo);
}