.mobile-nav{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: var(--clr-dark);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mobile-nav__list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.mobile-nav__link a{
    font-family: 'Tanker', sans-serif;
    letter-spacing: 0.2ch;
    padding: 0;
    text-decoration: none;
    font-size: var(--size-xl);
    color: var(--clr-slate400);
}
.mobile-nav__link{
    list-style: none;
    text-decoration: none;
}
.mobile-nav__sun{
    width: var(--size-lg);
    height: var(--size-lg);
    color: var(--clr-slate600);
}